@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove pointer cursor from the entire cell */
td.dtr-control {
    cursor: default !important;
}

/* Keep pointer only on the triangle icon (pseudo-element) */
td.dtr-control::before {
    cursor: pointer;
}

:root {
    --primary: #5c297c;
    --secondary: #f0a71f;
    --light: #ffffff;
    --gray: #dbdbdb;
    --darkgray: #a9a9a9;
    --lightgray: #f5f5f5;
    --blue: #0096ff;
    --darkblue: #00008b;
    --whitepurple: #9954c4;
}